*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

*{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}